@import url("https://fonts.googleapis.com/css?family=ABeeZee");

body {
    font-family: ABeeZee;
    background-color: #8fae90;
}

nav {
    padding-left: 10px;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

li {
    padding-right: 4px;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.primary {
    background-color: whitesmoke;
}

.secondary {
    background-color: white;
}

.card {
    border: none;
    background-color: #d1e0e0;
}

.fa-angle-left {
    color: white;
}

.fa-angle-right {
    color: white;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    background-color: #FFEBCD;
}

input {
    background-color: #FFEBCD;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}

#footer-content {
    background-color: white;
}

.gallery-top {
    margin-top: 10px;
}

.card {
    background-color: #FFEBCD;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}