@import "node_modules/bootstrap/scss/bootstrap";


@include media-breakpoint-down(sm) {
  .small-device-nav {
    text-align: left;
    font-size: 14px;
  }

  h4 {
    font-size: 19px;
  }
}

@include media-breakpoint-only(xl) {
  .exhibit-redirect {
      font-size: 23px;
  }

}